.banner{
    
    display: flex;
    align-items: center;
     justify-content: space-between;
   background-color: gray;
    height: 444px;

     
}
.banner-left{
    display: flex;
    margin:58px 0px 58px 50px;
    flex-direction: column;
    
}
.banner-left1{
    font-size:20px;
    line-height:30px;
    font-weight:600;
    color: white;
}

.banner-left2{
    font-size: 50px;
   
    color:#FFFFFF;
    margin-top: 24px;
}
.banner-left3{
    font-size: 20px;
    font-weight: 400px;
    line-height: 27px;
    color:#E6E6E6;
    margin-top: 24px;
    width:600px;
    height: 54px;
}
.button{
    height: 60px;
    width:200px;
   margin-top: 48px;
    color: black;
    
    
}
.banner-image{
    margin: 42px 56px 42px 0px;
    width: 380px;

}