.gallery{
    height: 1030px;
    background-color:gray;
}
.item{
    margin:64px 42px 64px 42px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:42px;
     
   
    
   
}
.img{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width:98%;
    height:330px;
    

}

.i0{
    text-align: center;
    font-weight: 600px;
    font-size: 32px;
    font-style:normal;
    padding-top: 42px;
    color: #FFFFFF;
}
.i1{
    color: #FFFFFF;
}